.board .square {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid white;
  }
  
  .board {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    margin: 0 auto;
  }
  
  .board .square:nth-child(8n),
  .board .square:nth-child(8n + 2),
  .board .square:nth-child(8n + 4),
  .board .square:nth-child(8n + 6) {
    background-color: rgb(235, 234, 234);
  }
  
  .board .square:nth-child(8n + 1),
  .board .square:nth-child(8n + 3),
  .board .square:nth-child(8n + 5),
  .board .square:nth-child(8n + 7) {
    background-color: rgb(93, 93, 93);
  }

  
