html, body{
    height: 100%;
    width: 100%;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.row{
    margin: 8px 0;
}
.row-input{
    width: 50%;
    margin-left: 48px;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
}