@font-face{
    font-family: 'Amazon Ember';
    src: url(fonts/Amazon\ Ember.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
.panel{
    background-color: rgb(35, 47, 62);
    height: 40px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    display: flex;
}
.all-menu{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 25px;
    margin-right: 10px; 
    height: 37px;
    width: 70px;   
}
.menu-icon{
    font-size: 26px;
    margin-top: 6px;
    margin-right: 5px;
}
.all{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/** Shop content **/
.shop-content{
    display: flex;
    align-items: center;
    width: 1000px;
    flex-shrink: 0;
}
.content{
    margin: auto 2px;
    font-size: 16px;
    color: rgb(238, 238, 238);
    height: 29px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 5px;
}
.prime-select{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;

}
/** Shop deals **/
.nav-deals{
    color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content:last baseline;
}
.shop-deals{
    margin-top: 3.9px;
}